body {
    margin: 0;
    display: block;
    overflow-x: hidden;
    background: #fff0db;
    padding-top: 60px; /* Adjust this value if needed to match the height of your navbar */
}

.front-container {
    width: 100%;
    height: 93vh; /* 100% of the viewport height */
    overflow: hidden;
    padding: 5%;
    margin-top: -80px;
}

.front {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

nav {
    background-color: #A0937D;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
}

nav ul li a {
    color: #eed9c4;
    font-size: 22px;
    margin: auto 10px;
}

nav ul li a:hover {
    color: #eed9c4;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 310;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col {
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-left: 50px;
}

#hero img {
    max-width: 80% !important;
    width: 100%;
}

#hero .card {
    box-shadow: 20px 10px 20px grey;
    border: 0;
    text-align: center;
    background: #faf8f6;
}

#hero .icon {
     width: 100px;
     height: 60px;
     margin-bottom: 10px;
}

#projects .projects {
    margin-top: -60px;
    margin-bottom: 40px;
}

#contact {
    text-align: center;
    background-color: #A0937D;
    color: black;
}

#contact h1 {
    text-align: center;
    color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}
.card-mb-3:hover{
    box-shadow: 5px 5px 54px rgba(0, 0, 0, 0.3);
}